extends layout

block content
  .container
    h2 About this site
    .col-sm-6
      img.img-thumbnail(src="http://lh4.googleusercontent.com/-dIoWB_Dob4M/T2Hmx9Fr-bI/AAAAAAAASzk/iQeufW2lUOY/w699-h698-no/Patrick+Capitol+Portrait+2.jpg", width="150")
    .col-sm-6
      p This site was developed by <strong>Patrick McKay</strong>, using the following technologies.
      ul
        li NodeJS and Express
        li Jade templating engine
        li Passport authentication
        li Google maps API
        li AngularJS
        li Jquery
        li Bootstrap