extends layout

block content
  #myCarousel.carousel.slide
    // Indicators
    ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
        .item.active
            img(src="http://www.dronestagr.am/wp-content/uploads/2014/03/Arch_Pano_02282014-960x540.jpg")
    
        .item
            img(src='http://www.dronestagr.am/wp-content/uploads/2013/08/View-West-960x540.jpg')
          
        .item
            img(src='http://www.dronestagr.am/wp-content/uploads/2013/10/Chateau-NeufPano-960x540.jpg')
        
    .container
      .carousel-caption
          h1 Welcome!
          p
              | LocalDrones connects anyone in need of a drone / small unmanned aircraft for an aerial photography project with skilled local done pilots and RC aerial photography companies who can meet your needs. See below for more details.
          p
              a.btn.btn-large.btn-primary(href='/login') Login now
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right

  .container.marketing
    // Three columns of text below the carousel
    .row
        .col-sm-4
            img.img-circle(src='http://placehold.it/140x140')
            h2 Heading
            p
                | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
            p
                a.btn.btn-default(href='#') View details »
        // /.col-lg-4

        .col-sm-4
            img.img-circle(src='http://placehold.it/140x140')
            h2 Heading
            p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
                a.btn.btn-default(href='#') View details »
        // /.col-lg-4

        .col-sm-4
            img.img-circle(src='http://placehold.it/140x140')
            h2 Heading
            p
                | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            p
                a.btn.btn-default(href='#') View details »
    //-Featurettes
    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading
                | First featurette heading.
                span.text-muted It'll blow your mind.
            p.lead
                | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
            img.featurette-image.img-responsive(src='http://placehold.it/300x300')
    hr.featurette-divider
    .row.featurette
        .col-md-5
            img.featurette-image.img-responsive(src='http://placehold.it/300x300')
        .col-md-7
            h2.featurette-heading
                | Oh yeah, it's that good.
                span.text-muted See for yourself.
            p.lead
                | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading
                | And lastly, this one.
                span.text-muted Checkmate.
            p.lead
                | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
            img.featurette-image.img-responsive(src='http://placehold.it/300x300')
    hr.featurette-divider
